<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <div style="float: right">
        <a th:href="@{/logout}">Logout</a>
    </div>
</head>
<body>
<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="firstName">Enter name</label>
    <input type="text" th:field="*{name}" id="firstName"/>
    <label for="lastName">Enter lastname</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <label for="role">Enter role</label>
    <input type="text" name="role" id="role"/>
    <br/>
    <br/>
    <input type="submit" value="Add user"/>
</form>
</body>
</html>