<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:text-transform="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white" href="#"><h5>
        <span th:utext="${currentUser.getEmail()}">Email</span>
        <span> with roles: </span>
        <span th:each="role :${currentUser.getAuthorities()}" id="currentUserRoles">
                <span th:text="${role.getAuthority().substring(5)}">Roles</span>
            </span>
    </h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
        </ul>
        <div style="float: right">
            <a class="nav-link text-white-50" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>


<div class="row">
    <div class="col-2 mt-4 mr-n3">
        <div class="list-group" role="tablist">
            <a th:attr="class=${isAdmin}?
            'list-group-item list-group-item-action active':'list-group-item list-group-item-action'"
               data-toggle="tab" aria-controls="admin-block" sec:authorize="hasRole('ADMIN')" href="#admin-block">Admin</a>
            <a th:attr="class=${!isAdmin}?
            'list-group-item list-group-item-action active':'list-group-item list-group-item-action'"
               data-toggle="tab" aria-controls="user-block" sec:authorize="hasRole('USER')" href="#user-block">User</a>
        </div>
    </div>

    <div class="tab-content col-10 p-4 mb-2 bg-light">
        <div th:attr="class=${isAdmin}?
            'tab-pane fade show active':'tab-pane fade show'"
             id="admin-block" sec:authorize="hasRole('ADMIN')" role="tab">
                <h1>Admin panel</h1>

                <nav>
                    <div class="nav nav-tabs">
                        <a class="nav-link active" id="user-table-tab" data-toggle="tab" role="tab" href="#user-table"
                           aria-controls="user-table" aria-selected="true">Users table</a>
                        <a class="nav-link" id="new-user-tab" data-toggle="tab" role="tab" href="#new-user"
                           aria-controls="new-user" aria-selected="false">New User</a>
                    </div>
                </nav>

                <div class="tab-content">

                    <div class="tab-pane fade show active" id="user-table">
                        <div class="card">
                            <h5 class="card-header">All users</h5>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Mame</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:utext="${user.getId()}">Id</td>
                                        <td th:utext="${user.getName()}">Name</td>
                                        <td th:utext="${user.getLastName()}">Lastname</td>
                                        <td th:utext="${user.getAge()}">Age</td>
                                        <td th:utext="${user.getEmail()}">Email</td>
                                        <td>
                                        <span th:each="role :${user.getAuthorities()}" id="role">
                                            <span th:text="${role.getAuthority().substring(5)}">Roles</span>
                                        </span>
                                        </td>
                                        <td><a type="button" class="btn btn-info" data-toggle="modal"
                                                    th:attr="data-target='#edit' + ${user.getId()}">Edit</a>
                                        </td>
                                        <td><a type="button" class="btn btn-danger" data-toggle="modal"
                                               th:attr="data-target='#delete' + ${user.getId()}">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade show" id="new-user">
                        <div class="card">
                            <h5 class="card-header">Add new user</h5>
                            <div class="card-body" align="center">
                                <form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="firstName">First name</label>
                                        <input class="form-control mb-3 col-3" type="text" th:field="*{name}" id="firstName"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="lastName">Last name</label>
                                        <input class="form-control mb-3 col-3" type="text" th:field="*{lastName}" id="lastName"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="lastName">Age</label>
                                        <input class="form-control mb-3 col-3" type="text" th:field="*{age}" id="age"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="lastName">Email</label>
                                        <input class="form-control mb-3 col-3" type="text" th:field="*{email}" id="Email"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="password">Password</label>
                                        <input class="form-control mb-3 col-3" type="password" th:field="*{password}" id="password"/>
                                    </div>

                                    <label class="font-weight-bold" for="role">Role</label>
                                    <select class="form-control mb-3 col-3" th:size="${rolesList.size()}" name="role">
                                        <option th:each="role : ${rolesList}"
                                                th:value="${role.getRole()}"
                                                th:text="${role.getRole().substring(5)}"
                                                th:attr="selected=${role.getRole().substring(5).equals('USER')}?''"
                                        >
                                        </option>
                                    </select>
                                    <input class="btn btn-success" type="submit" value="Add new user"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div th:attr="class=${!isAdmin}?
            'tab-pane fade show active':'tab-pane fade show'"
             id="user-block" role="tab">
                <h1>User information-page</h1>
            <div class="card">
                <h5 class="card-header">About user</h5>

                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Mame</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td th:utext="${currentUser.getId()}">ID</td>
                            <td th:utext="${currentUser.getName()}">First Name</td>
                            <td th:utext="${currentUser.getLastName()}">Last Mame</td>
                            <td th:utext="${currentUser.getAge()}">Age</td>
                            <td th:utext="${currentUser.getEmail()}">Email</td>
                            <td>
                                <span th:each="role :${currentUser.getAuthorities()}" id="user-block-role">
                                <span th:text="${role.getAuthority().substring(5)}">Role</span>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div th:each="user : ${users}">
    <div class="modal" th:id="${'edit' + user.getId()}" th:object="${user}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModal">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" align="center">

                    <form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}">
                        <div class="form-group">
                            <label class="font-weight-bold" for="idEdit">ID</label>
                            <input class="form-control mb-6 col-7" type="text" name="id" th:value="*{id}" id="idEdit" disabled/>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="firstNameEdit">First name</label>
                            <input class="form-control mb-6 col-7" type="text" name="name" th:value="*{name}" id="firstNameEdit"/>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="lastNameEdit">Last name</label>
                            <input class="form-control mb-6 col-7" type="text" name="lastName" th:value="*{lastName}" id="lastNameEdit"/>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="lastNameEdit">Age</label>
                            <input class="form-control mb-6 col-7" type="text" name="age" th:value="*{age}" id="ageEdit"/>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="lastNameEdit">Email</label>
                            <input class="form-control mb-6 col-7" type="text" name="email" th:value="*{email}" id="EmailEdit"/>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="passwordEdit">Password</label>
                            <input class="form-control mb-6 col-7" type="password" name="password" id="passwordEdit"/>
                        </div>

                        <label class="font-weight-bold" for="role">Role</label>
                        <select class="form-control mb-6 col-7" th:size="${rolesList.size()}" name="role">
                            <option th:each="role : ${rolesList}"
                                    th:value="${role.getRole()}"
                                    th:text="${role.getRole().substring(5)}"
                                    th:attr="selected=${role.getRole().substring(5).equals('USER')}?''">
                            </option>
                        </select>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Edit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div th:each="user : ${users}">
    <div class="modal" th:id="${'delete' + user.getId()}" th:object="${user}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" align="center">

                    <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
                        <div class="form-group">
                            <label class="font-weight-bold" for="idEdit">ID</label>
                            <input class="form-control mb-6 col-7" type="text" name="id" th:value="*{id}" id="idDelete" disabled/>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="firstNameEdit">First name</label>
                            <input class="form-control mb-6 col-7" type="text" name="name" th:value="*{name}" id="firstNameDelete" disabled/>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="lastNameEdit">Last name</label>
                            <input class="form-control mb-6 col-7" type="text" name="lastName" th:value="*{lastName}" id="lastNameDelete" disabled/>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="lastNameEdit">Age</label>
                            <input class="form-control mb-6 col-7" type="text" name="age" th:value="*{age}" id="ageDelete" disabled/>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="lastNameEdit">Email</label>
                            <input class="form-control mb-6 col-7" type="text" name="email" th:value="*{email}" id="EmailDelete" disabled/>
                        </div>

                        <label class="font-weight-bold" for="role">Role</label>
                        <select class="form-control mb-6 col-7" th:size="${rolesList.size()}" name="role" disabled>
                            <option th:each="role : ${rolesList}"
                                    th:value="${role.getRole()}"
                                    th:text="${role.getRole().substring(5)}"
                                    th:attr="selected=${role.getRole().substring(5).equals('USER')}?''"
                            >
                            </option>
                        </select>
                        <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-danger" value="Delete"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>